bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.4
click==8.0.4
colorama==0.4.4
colorgram.py==1.2.0
dnspython==2.2.1
dominate==2.6.0
email-validator==1.2.0
Flask==2.0.3
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
gunicorn==20.1.0
heroku==0.1.4
idna==3.2
itsdangerous==2.1.2
Jinja2==3.1.1
lxml==4.6.3
MarkupSafe==2.1.1
MyApplication==0.1.0
numpy==1.21.1
pandas==1.3.1
Pillow==8.3.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
PyJWT==1.7.1
pyperclip==1.8.2
python-dateutil==1.5
pytz==2021.1
Question==0.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.32
twilio==6.63.0
urllib3==1.26.6
visitor==0.1.3
Werkzeug==2.0.3
WTForms==3.0.1
